/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: #13120A;
    color: #EDECEC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 200px;
    margin-right: 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
}

.navbar-headings {
    display: flex;
    gap: 30px;
    font-size: 14px;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
}

#btn-1 {
    background-color: #13120A;
    color: white;
    border: 1px solid #555555;
    padding: 5px 15px;
    border-radius: 20px;
}

#btn-2 {
    background: white;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
}

main {
    margin-top: 130px;
}

.header {
    font-size: 26px;
}

#btn-3 {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}

.image {
    margin-top: 50px;
}

.desc {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    padding: 8px 8px;
}

.logo-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.logo-box {
    width: 100%;
    background-color: #1b1913;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.logo-box img {
    max-width: 80px;
}

.feature-1 {
    margin-top: 80px;
    background-color: #1b1913;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.feature1-text {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 20px;
    font-size: 25px;
}

.feature1-heading {
    color: #EDECEC;
}

.feature1-content {
    color: grey;
}

.feature1-footer{
    color: orangered;
    font-size: 15px;
}

.feature1-img {
    padding: 10px;
}

.feature-2 {
    margin-top: 80px;
    background-color: #1b1913;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.feature2-text {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
}

.feature2-img {
    display: block;
    padding: 24px 24px 24px 24px;
}

.feature2-heading {
    font-size: 24px;
    color: #EDECEC;
}

.feature2-content {
    font-size: 24px;
    color: grey;
}

.feature2-footer {
    color: orangered;
    font-size: 15px;
}

.feature-3 {
    margin-top: 80px;
    background-color: #1b1913;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.feature3-text {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 20px;
    font-size: 25px;
}

.feature3-heading {
    color: #EDECEC;
    font-size: 24px;
}

.feature3-content {
    color: grey;
    font-size: 24px;
}

.feature3-footer {
    color: orangered;
    font-size: 15px;
}

.feature3-img {
    padding: 10px;
}

.card-title {
    margin-top: 120px;
    text-align: center;
    font-size: 40px;
}

.cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.container {
    color: #EDECEC;
    opacity: 0.80;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1b1913;
    border-radius: 5px;
    min-height: 220px; 
    border-radius: 5px;
    padding: 10px;
}

.founder{
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
}

.founder-footer {
    margin-left: 10px;
}

.usecase-title{
    font-size: 30px;
    margin-top: 150px;
}

.usecase-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.usecase-card {
    background-color: #1b1913;
    display: flex;
    flex-direction: column;
    height: 550px; 
    width: 418px;
    border-radius: 5px;
}

.usecase-header {
    margin-left: 10px;
    margin-bottom: 0px;
}

.usecase-body {
    margin-left: 10px;
    color: #555555;
    margin-bottom: 0px;
}

.usecase-footer {
    margin-left: 10px;
    color: orangered;
}

.usecase-img {
    text-align: center;
}

.Changelog-header {
    font-size: 30px;
}

.Changelog-container {
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.Changelog-cards {
    background-color: #1b1913;
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #24241d;
    border-radius: 10px;
    padding: 15px;     
}

.Changelog-card {
    display: flex;
    align-items: center;
    gap: 12px;
}

.Changelog-border {
    display: inline-flex;
    align-items: center;
    height: 28px;
    padding: 0 12px;
    font-size: 14px;
    border-radius: 999px;
    border: 1px solid #343434;
    color: gray;
}

.Changelog-content {
    color: #EDECEC;
    margin-top: 0px;
    line-height: 20px;
}

.Changelog-footer {
    color: orangered;
}

.Changelog-date {
    color: gray;
}

.team {
    margin-top: 80px;
    background-color: #1b1913;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.team-text {
    margin-top: 150px;
    margin-bottom: 120px;
    margin-left: 20px;
    font-size: 20px;
}

.team-content {
    color: #EDECEC;
}

.team-footer {
    color: orangered;
    font-size: 15px;
}

.team-img {
    padding: 15px;
}

.highlights {
    background: #1b1913;
    padding: 80px 0;
    margin-top: 250px;
    margin-left: -200px;
    margin-right: -200px;
}

.highlights-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.highlights-title h3{
    font-size: 16px;
    font-weight: 500;
    color: #bdbdbd;
    margin-top: 8px;
}

.highlights-container {
    display: flex;
    flex-direction: column;
    width: 650px;
    gap: 10px;
}

.highlights-card {
    background: #1d1b15;
    border: 1px solid #26251f;
    border-radius: 10px;
    padding: 15px 20px;
}

.card-head {
    font-size: 16px;
    color: #e8e8e6;
    margin-bottom: 10px;
}

.card-content {
    font-size: 16px;
    color: #a7a7a3;
    margin-bottom: 10px;
    line-height: 1.5;
}

.card-footer {
    font-size: 13px;
    color: #7e7e7a;
}

.highlight-footer {
    margin-top: 15px;
    color: orangered;
    text-decoration: none;
    font-size: 14px;
}
#card-1{
    display: flex;
    flex-direction: column;
} 

.final-section {
    background: #13120A;
    margin-top: 30px;
    justify-content: center;
    height: 400px;
    display: flex;
    text-align: center;
}

.final {
    margin-bottom: 30px;
    font-size: 72px;
    color: #EDECEC;
}

#btn-4 {
    background: #EDECEC;
    color: #111;
    border-radius: 999px;
    padding: 14px 28px;
    font-size: 16px;
}

.footer {
    background: #1b1913;
    padding: 80px;
    margin-left: -200px;
    margin-right: -200px;
}

.footer-grid {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

.footer-col p {
    font-size: 14px;
    color: #d6d6d3;
    margin-bottom: 10px;
}

.footer-bottom {
    max-width: 1300px;
    margin: 60px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    margin-bottom: 0px;
}

.footer-head {
    color: gray;
    font-weight: 500;
    font-size: 15px;

}

.footer-left {
    font-size: 13px;
    color: gray;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-btn {
    background: #1b1913;
    border: 1px solid #2a2923;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 30px;
}

.lang-btn {
    background: #1b1913;
    border: 1px solid #2a2923;
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
    color: #d6d6d3;
}